SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ANON_KEY=
ADMIN_RESET_KEY=


# Username/email/ID pemain akun admin yang boleh melihat dan memakai Admin Reset Password.
# separate with comma if more than one admin
ADMIN_USERS=your_admin_username
